.layout-selector
  h3 Select layout:
    button.btn.btn-default(type="button")
      span.glyphicon.glyphicon-th-list
    button.btn.btn-default(type="button")
      span.glyphicon.glyphicon-th

.events(ng-repeat="event in vm.events")
  h4 {{ event.name }}
  p {{ event.date | date:'EEE, MMM d, yyyy @ h:mma' }}

