h1 Find new events
.input-group
  span.input-group-addon.glyphicon.glyphicon-search(id="basic-addon1")
  input.form-control(type="text" placeholder="http://www.eventbrite.com")

h1 Events
div(ui-view="events")
